@FONT-FACE {
	font-family: Rock-SansBold;
	src: url("../fonts/Rock-SansBold.woff2");
}

@FONT-FACE {
	font-family: Rock-SansItalic;
	src: url("../fonts/Rock-SansItalic.woff2");
}

@FONT-FACE {
	font-family: Rock-SansNormal;
	src: url("../fonts/Rock-SansNormal.woff2");
}

.floatingButton {
	position: fixed !important;
	bottom: 20px !important;
	right: 20px !important;
	z-index: 10 !important;
	opacity: 0.4 !important;
}

.appTitle {
	background-color: #3D375C !important;
	border-bottom : none !important;
}

.appTitle > * {
	color: white !important;
	font-family: Rock-SansBold;
	font-weight: bold;
	text-shadow : none !important;
}

a.linkHome.sapMLnk.sapMLnkMaxWidth {
	color: rgb(141, 141, 141) !important;
	font-size: 12px !important;
	font-family: Rock-SansBold !important;
	font-weight: bold !important;
	text-shadow : none !important;
}

.results:nth-child(even) {
	background-color: rgb(250, 250, 250);
}

.footer {
	background-color: #000 !important;
}

.nbcuHome {
	color: rgb(141, 141, 141) !important;
	font-size: 28px !important;
	font-family: Rock-SansBold !important;
	font-weight: bold !important;
}

span.copyrightLabel {
	color: rgb(141, 141, 141) !important;
	font-size: 12px !important;
	font-family: verdana !important;
	font-weight: bold !important;
}

.filterLabelHeading {
	color: white;
}
.toolbar{
	background-color: transparent;
	box-shadow: none !important;
	border-bottom : none !important;
	text-shadow : none !important ;
	font-family: Rock-SansBold;
}


.toolbar.sapMTB {
	border-bottom: none !important;
}

.page.sapMNavItem, .sapUiView.sapUiXMLView {
	background-color: #3D375C !important;
} 
/*.searchPage{
		background-color: white !important;
}*/
/*.searchPage.sapMNavItem.sapUiView.sapUiXMLView{
	background-color: white !important;
}*/
.srch{
	font-family: Rock-SansBold;
	font-size: 20px;
	color : white !important;
	background-color: rgb(44,168,153) !important;
    text-shadow : none !important;
} 
.srch.sapMInputBase.sapMInputBaseInner{
	font-family: Rock-SansBold;
	font-size: 20px;
	color : white !important;
	background: rgb(44,168,153) !important;
    text-shadow : none !important;
}
.srch.sapMInputBaseInner:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):not(.sapMInputBaseDisabledInner):hover{
	border-color:transparent !important;
}
.sapUiFormResGrid>.sapUiFormTitle {
	color : beige !important
} 

/*.sapMBtnDefault.sapMBtnInner.sapMBtnText.sapMFocusable{
	background-color:#D9E0E2;
	color:black;
}*/
/* .sapMIBar-CTX.sapMFooter-CTX{
	background-color: transparent;
	border-top:"";
} */

/*.toolbar{
	background-color: transparent;
	box-shadow: none !important;
	border-bottom : none !important;
}*/
.sapUiFormResGrid.sapUiFormBackgrTranslucent>div{
	background-color: transparent !important;
}
.sapUiFormTitle.sapUiFormTitleH4{
	border: transparent;
}
/*.sapMBarContainer.sapMBarPH{
	height: initial;
}*/
.sapUiForm.sapUiFormEdit .sapUiFormElementLbl>.sapMLabel{
	color:white;
}
/*.sapMPageHeader::before{
	border-top: 0.25rem;
}*/
/*.sapMPageHeader{
	border-top: 0.25rem !important;
}*/
/*#__button6{
 	height: inherit ;	
}*/
.sapMListHdr{
	color : white !important;
}
.sapMPanelHdr{
	color: white !important;
}
/* App 2 result page */
.sapMPanel>.sapMPanelHdr, .sapMPanelWrappingDiv, .sapMPanelWrappingDivTb
.header.sapMPanelWrappingDiv.sapMPanelWrappingDivExpanded{
	border-bottom : transparent ;
}
.sapMPanelWrappingDiv{
	border-botton : transparent;
}
.sapMLnk.sapMLnkMaxWidth{
	color: white !important;
}
.sapMPanelBGTranslucent.sapMPanelContent.sapMPanelExpandablePart{
	background-color: transparent;
	border-bottom : transparent;
}
.sapMPanelWrappingDivTb{
	border-bottom: transparent !important;
}
.sapMBarChild.sapMLabel.sapMLabelMaxWidth.sapMLabelTBHeader.sapUiSelectable.sapMTBShrinkItem{
	color : white ;
}
.sapMBarChild.sapMTitle.sapMTitleMaxWidth.sapMTitleNoWrap.sapMTitleStyleAuto.sapMTitleTB.sapUiSelectable.sapMTBShrinkItem{
	color: white;
}

.sapMPanelExpandableIcon{
	transform: translateY(-50%) rotate(90deg) !important;
}

.empPic.sapMImg{
	border-radius : 50% !important;
}
/*.sapMIBar.sapMHeader-CTX{
	background-color: white !important;
	background : white !important;
	height: 4.5rem;
}
.sapMBarContainer.sapMBarPH{
	background-color: white
}
#__toolbar0{
	background-color: transparent;
	border-top: transparent;
	border-bottom: transparent;
}*/
.header{
	background-color: transparent;
	border-top: transparent;
	border-bottom: transparent;
}
.header.sapMBarContainer.sapMBarPH{
	background-color: transparent;
	border-top: transparent;
	border-bottom: transparent;
	style : none !important;
}

.header.sapMIBar.sapMHeader-CTX {
    background-color: white !important;
    background: white !important;
    height: 4.5rem;
}
.headerResult{
	background-color: transparent;
	border-top: transparent;
	border-bottom: transparent;
}
.headerResult.sapMBarContainer.sapMBarPH{
	background-color: transparent;
	border-top: transparent;
	border-bottom: transparent;
	style : none !important;
}
.headerResult.sapMIBar.sapMSubHeader-CTX{
	color: white !important;
    background-color: rgb(44,168,153) !important;
    text-shadow : none !important;
    	font-family: Rock-SansBold;
}

.headerResult.sapMIBar.sapMHeader-CTX {
    background-color: white !important;
    background: white !important;
    height: 4.5rem;
    text-shadow: none !important;
    border-color : transparent !important;
}

.bkBtn.sapMIBar-CTX .sapMBtnInner{
	background-color: transparent !important;	
	font-family: Rock-SansBold;
	color :white !important;
	text-shadow : none !important;
	border-color : transparent !important;
	box-shadow : none !important;
}

.profileContent.sapMNavItem {
	background-color: #fff !important;
}

.profileDesignation.sapMText {
	font-family: Rock-SansBold;
	font-size: 20px;
}

.profileWorkCity.sapMText {
	font-family: Rock-SansNormal;
	font-size: 15px;
}